{% extends "base.html" %}
{% block content %}
    <form action='{{url_for("ec2_list")}}' method='get'>
        <input type='submit' value='Back' />
    </form>

    <table>
        <tr><td>ID</td><td> {{ instance.id }} </td></tr>
    </table>

    <h2>CPU Utilization</h2>

        <div id="cpu_plot" style="width:300px;height:150px"></div>



        <script>

            var options = {
                series: {
                    lines: { show: true },
                    points: { show: true }
                }
            };

            $.plot($("#cpu_plot"), [ {{ cpu_stats }} ] , options);

        </script>




{% endblock %}

